<input type="text" [(ngModel)]="title">
{{ title }}
<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Juan'">Haz escrito Juan</p>
  <p *ngSwitchCase="'Brayan'">Haz escrito Brayan</p>
  <p *ngSwitchCase="'Daniel'">Haz escrito Daniel</p>
  <p *ngSwitchDefault >No hay match!</p>

</div>

<button (click)="addItem()">Add</button>

<ul>
  <li *ngIf="items.length === 0">List is empty</li>
  <li *ngFor="let name of items; index as i">
    {{ i }} {{ name }}
    <button (click)="deleteItem(i)">Remove</button>
  </li>
</ul>

